{% extends 'base.html' %}

{% block titulo_conteudo %} Inserir Nova Modalidade {% endblock titulo_conteudo %}
<!-- Antes: Inserir Nova Categoria-->

{% block conteudo %}
<div class="card-header card-header-custom" style="background-color: green;">
  <h5 style="text-align: center;">CADERNO DE LETRAS - CDL_Cursos</h5>
</div>
<p></p>
<form method="post">
    {% csrf_token %}
   
    {{form.as_p}}
  
    <p>
      <!-- Renderiza cada campo do formulário com <p> tags -->
      <button class="btn btn-primary" type="submit">Enviar</button>
    </p>
  </form>

{% endblock conteudo %}