{% extends 'base.html' %}

{% block titulo_conteudo %} Detalhes do Curso {% endblock titulo_conteudo %}
<!--Antes: Detalhes do Produto-->
{% block conteudo %}

<div class="card-header card-header-custom" style="background-color: green;">
  <h5 style="text-align: center;">CADERNO DE LETRAS - CDL_Cursos</h5>
</div>
<p></p>

<table class="table table-bordered">
  <tbody>
      <tr>
          <td>Código:</td>
          <td>{{ produto.id }}</td>
      </tr>
      <tr>
          <td>Descrição:</td>
          <td>{{ produto.nome }}</td>
      </tr>
      <tr>
        <td>Vagas Disponíveis:</td>
        <!--Antes: Quantidade-->
        <td>{{ produto.estoque.qtde }}</td>
    </tr>
      <tr>
          <td>Valor:</td>
          <td>{{ produto.preco }}</td>
      </tr>
      <tr>
        <td>Imagem:</td>
        <td><img src="{{produto.img_base64}}" style="width:200px; height: 200px"></td>
      </tr>
  </tbody>
</table>
<a href="{% url 'produto' %}" class="btn btn-secondary">Voltar</a>

{% endblock conteudo %}