{% extends "base.html" %}


{% block titulo_conteudo %} Ajuste de Vagas {% endblock titulo_conteudo %}
<!--Antes: Ajuste de Estoque-->

{% block conteudo %} 
<div class="card-header card-header-custom" style="background-color: green;">
    <h5 style="text-align: center;">CADERNO DE LETRAS - CDL_Cursos</h5>
</div>
<p></p>

<p>
    <label for="id_produto">Cursos:</label>
    <!--Antes: Produto-->
    <span class="form-control" >{{form.instance.produto.nome}}</span>
    </p>
<form method="post">
    {% csrf_token %}    
    {{ form.as_p }}
    <button class="btn btn-primary btn-sm" type="submit">Salvar</button>
</form>
{% endblock conteudo %}


{% block javascript %}{% endblock javascript %}
