{% extends "base.html" %}


{% block titulo_conteudo %} Ajuste de Vagas {% endblock titulo_conteudo %}
<!--Antes: Ajuste de Estoque-->

{% block conteudo %} 
<p>
    <label for="id_produto">Cursos:</label>
    <!--Antes: Produto-->
    <span class="form-control" >{{form.instance.produto.nome}}</span>
    </p>
<form method="post">
    {% csrf_token %}    
    {{ form.as_p }}
    <button class="btn btn-primary btn-sm" type="submit">Salvar</button>
</form>
{% endblock conteudo %}


{% block javascript %}{% endblock javascript %}
