{% extends "base.html" %}

{% block conteudo %} 

<div class="row">
    <div class="card-header card-header-custom" style="background-color: green;">
        <h5 style="text-align: center;">CADERNO DE LETRAS - CDL_Cursos</h5>
    </div>
    <P></P>
    <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="card card-custom">
            <div class="card-header card-header-custom">
                <h5>Total de Alunos Matriculados</h5>
            </div>

        <div class="card-body card-body-custom">
            <h3 id="valor"></h3> <!-- Aqui vamos inserir o valor da variável -->
        </div>
    
        <script>
            // Definindo a variável
            var valor = 94; // Você pode mudar esse valor dinamicamente conforme necessário
    
            // Colocando o valor da variável no lugar do conteúdo do <h3>
            document.getElementById('valor').textContent = valor;
        </script>


        </div>
    </div>
</div>

<div class="row">
    
    <div class="col-lg-3 col-md-6 col-sm-12">
        <div class="card card-custom">
            <div class="card-header card-header-custom">
                <h6>Med Enem - Linguagens online</h6>
            </div>
            <div class="card-body card-body-custom">
                <h3>09</h3>
            </div>
        </div>
    </div>
    

    <div class="col-lg-3 col-md-6 col-sm-12">
        <div class="card card-custom">
            <div class="card-header card-header-custom">
                <h6>Med Enem - Linguagens / segunda-feira</h6>
            </div>
            <div class="card-body card-body-custom">
                <h3>29</h3>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-12">
        <div class="card card-custom">
            <div class="card-header card-header-custom">
                <h6>Med Enem - Linguagens / terça-feira</h6>
            </div>
            <div class="card-body card-body-custom">
                <h3>33</h3>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-12">
        <div class="card card-custom">
            <div class="card-header card-header-custom">
                <h6>Med Enem - Linguagens / quinta-feira</h6>
            </div>
            <div class="card-body card-body-custom">
                <h3>17</h3>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-12">
        <div class="card card-custom">
            <div class="card-header card-header-custom">
                <h6>UEMA Geral</h6>
            </div>
            <div class="card-body card-body-custom">
                <h3>04</h3>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-12">
        <div class="card card-custom">
            <div class="card-header card-header-custom">
                <h6>UEMA Específica</h6>
            </div>
            <div class="card-body card-body-custom">
                <h3>02</h3>
            </div>
        </div>
    </div>
</div>

{% endblock conteudo %}