{% extends "base.html" %}

{% block titulo_conteudo %} Alunos Matriculados{% endblock titulo_conteudo %}

    <!--<h1>Lista de Alunos Matriculados no CDL_Cursos</h1>-->
{% block conteudo %} 

    <ul>
        {% for pedido in pedidos %}
            <li>
                <h3>{{ pedido.cliente.nome }}</h3>
                <ul>
                    {% for item in pedido.itempedido_set.all %}
                        <li>
                            Curso: {{ item.produto.nome }}
                        </li>
                    {% empty %}
                        <li>Este pedido não tem produtos.</li>
                    {% endfor %}
                </ul>
            </li>
        {% empty %}
            <li>Nenhum pedido encontrado.</li>
        {% endfor %}
    </ul>

{% endblock conteudo %}