{% extends "base.html" %}

{% block titulo_conteudo %} Lista de Cursos {% endblock titulo_conteudo %}
<!--Antes: Listagem de Produtos-->
{% block conteudo %} 

    <h1>Lista de Cursos</h1>

    <div class="card-header card-header-custom" style="background-color: green;">
        <h5 style="text-align: center;">CADERNO DE LETRAS - CDL_Cursos</h5>
    </div>
    <p></p>
    
    <table style="border-collapse: collapse; width: 100%; border: 1px solid black;">
        <thead>
            <tr>
                <th style="border: 1px solid black;">Curso</th>
                <th style="border: 1px solid black;">Modalidade</th>
                <th style="border: 1px solid black;">Valor</th>
            </tr>
        </thead>
        <tbody>
            {% for produto in produtos %}
                <tr>
                    <td style="border: 1px solid black;">{{ produto.nome }}</td>             <!-- Nome do Curso -->
                    <td style="border: 1px solid black;">{{ produto.categoria }}</td>        <!-- Modalidade do Curso -->
                    <td style="border: 1px solid black;">R$ {{ produto.preco }}</td>         <!-- Preço do Curso -->
                </tr>
            {% empty %}
                <tr>
                    <td colspan="3" style="border: 1px solid black; text-align: center;">Nenhum produto encontrado.</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    
    
{% endblock conteudo %}