{% extends "base.html" %}

{% block titulo_conteudo %} Alunos Matriculados {% endblock titulo_conteudo %}

{% block conteudo %}
    <h2>Lista de Alunos e Cursos</h2>

    <table border="1">
        <thead>
            <tr>
                <th>Aluno</th>
                <th>Curso</th>
            </tr>
        </thead>
        <tbody>
            {% for pedido in pedidos %}
                {% for item in pedido.itempedido_set.all %}
                    <tr>
                        <td>{{ pedido.cliente.nome }}</td>
                        <td>{{ item.produto.nome }}</td>
                    </tr>
                {% empty %}
                    <tr>
                        <td colspan="2">Este aluno não fez a matrícula.</td>
                    </tr>
                {% endfor %}
            {% empty %}
                <tr>
                    <td colspan="2">Nenhuma matrícula encontrada.</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock conteudo %}
